.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title {
  color: #2c3e50;
  padding: 15px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.list {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  gap: 30px;
}
